@if (Context.User.Identity.IsAuthenticated)
{
    <ul class="nav">
        <li><a  class="active"
            asp-controller="Dashboard"
            asp-action="Index">
            Home 
        </a></li>
        <li>
            <a class="active"
               asp-controller="Users"
               asp-action="CreateList">
                Create list
            </a>
        </li>
        <li>
            <a class="active"
               asp-controller="Managed"
               asp-action="Logout">
                Log Out
            </a>
        </li>
        <li><a 
            asp-controller="Users"
            asp-action="Profile">Profile
            <img src="assets/images/profile-header.jpg" alt="">
        </a></li>
    </ul>
    <a class='menu-trigger'>
        <span>Menu</span>
    </a>
}
else
{
    <ul class="nav">
        <li>
            <a class="active"
               asp-controller="Dashboard"
               asp-action="Index">
                Home
            </a>
        </li>
        <li>
            <a class="active"
               asp-controller="Users"
               asp-action="Register">
                Register
            </a>
        </li>
        <li>
            <a asp-controller="Users"
               asp-action="Profile">
                Profile
                <img src="assets/images/profile-header.jpg" alt="">
            </a>
        </li>
    </ul>
    <a class='menu-trigger'>
        <span>Menu</span>
    </a>
})
