@model VideoGame;

<h1>Details</h1>

<ul class="list-group bo">
    <li class="list-group-item">Nombre: @Model.Name</li>
    <li class="list-group-item">Direccion: @Model.Description</li>
    <li class="list-group-item">Telefono: @Model.Developer</li>
    <li class="list-group-item">Camas: @Model.Genre</li>
</ul>
