@model List<VideoGame>
<div class="row">
    <div class="col-lg-12">
        <div class="page-content">
            <!-- ***** Banner Start ***** -->
            <div class="main-banner">
                <div class="row">
                    <form id="searchForm">
                    <div class="col-lg-4">
                        
                            <div class="header-text">
                            
                                <label>Name</label>
                                <input class="form-control" type="text" id="name" name="name"/>
                                <label>Genre</label>
                                <input class="form-control" type="text" id="genre" name="genre"  />
                                <label>Realease year</label>
                                <input class="form-control" type="number" id="year" name="year"  />
                                <label>Developer</label>
                                <input class="form-control" type="text" id="developer" name="developer"  />


                                <div class="main-button"> <button type="submit">Buscar</button></div>
                            </div>
                            
                        
                    </div>
                       
                    </form>
                </div>
                
            </div>
            <!-- ***** Banner End ***** -->
            <!-- ***** Most Popular Start ***** -->
            <div class="most-popular">
                 @await Html.PartialAsync("_VideoGamesList", Model);
            <div class="most-popular">
            <!-- ***** Most Popular End ***** -->
        </div>
        </div>
    </div>
   </div>
</div>
@section Scripts
{
    <script>
         
                     $(document).ready(function () {
                        $("#searchForm").submit(function (event) {
                            event.preventDefault(); // Prevents the page from reloading
                            var queryString = $(this).serialize(); // Serializes the form
                            var url = "@Url.Action("Index", "Dashboard")"; // Server URL
                            $.get(url + "?" + queryString, function (data) {
                                $(".most-popular").html(data);
                            });
                        });
                    });
                </script>
}
      

